<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>NSCameraUsageDescription</key>
  <string>WhatsApp needs camera access to take photos and record video to send in chats.</string>
  <key>NSMicrophoneUsageDescription</key>
  <string>WhatsApp needs microphone access to record voice messages and video to send in chats.</string>
</dict>
</plist>
